.generic-section {
    background-color: none;
    margin-left: 5px;
    margin-right: 5px;
}

/*SECTION1*/

p {
    color: #585858;
}


.about-para {
    border: 1px  	#484848;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.services__we__offer {
        background-image: url(../img/about-us/man-at-sea.jpg);
        min-height: 600px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.about-us-description {
    background-color: white;
}
.services__we__offer {
    background-color: white;
}
.decoration-line-about {
    color: rgb(238, 46, 20);
}
.about__us-headline {
    text-transform: capitalize;
    color: var(--about-us-p-color);
    size: 23px;
    margin-bottom: 70px;
    padding-left: 50px;
}
.about__us-preview {
    color: black;
    font-size: 45px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 50px;
}
#ten-days {
    color: #00bfff;
}
.about__us-details {
    display: block;
    margin-top: 50px;
}

/* SECTION 2 - SERVICES*/
.services__we__offer {
    display: inline-block;
    margin-bottom: 50px;
}

.services-subdiv {
    border: 1px  	#484848;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 400px;
    background: none;
}

.about__image {
    width: 180px;
    height: 70px;
    padding: 10px;
    margin: 10px;
    background-color: pink;
}

.service {
    color: black;
    size: 24px;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
}
.service__description {
    color: var(--about-us-p-color);
    size: 15px;
    background-color: aquamarine;  
    margin-bottom: 10px;
}


@media (min-width: 640px) {
    .about-us-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media (min-width: 640px) {
    .services__we__offer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        margin-top: 0;
        background-image: /*url('../img/about_us/man-at-sea.jpg');*/
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* Only change code below this line */

    /*grid-gap: 10px 20px;
    /* Only change code above this line */
   /*!! grid-column-start (we count lines from left to right)
   !! grid-column-end (we count lines from left to right and stop at the ending line)
   !! grid-column-sart or end with negative number for counting from right to left
!!/*grid-column: 2 / 4; (first number means startng line of the gri and the 2nd means ending line of the grid) */
/*!! grid-row-start (vertically)*/
/*
@media (min-width: 640px) {
    .services__we__offer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url(img/about-us/man-at-sea.jpg);
  background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
  
}
}*/

    /*img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  position: absolute;
  top: 110px;
  left: 110px;
    }
}
*/
/*.services__we__offer {
    background-image: url(img/about-us/man-at-sea.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/


/*
@media (min-width: 640px) {
.services__we__offer {
  display: grid;
  grid-template-columns: repeat (1fr 1fr 1fr);
  grid-template-rows: 200px 100px 150px;
  margin-top: 5rem;
  background-image: url(img/about-us/man-at-sea.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
}
*/