.generic-section {
    background-color: none;
}

/*SECTION1*/

p {
    color: #585858;
}

.about-para {
    border: 1px #484848;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
/*.services__we__offer {
        background-image: url(../img/about-us/man-at-sea-optimized.jpg);
        min-height: 600px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}*/

.about-us-description {
    background-color: white;
}
.services__we__offer {
    background-color: white;
}
.decoration-line-about {
    margin-top: 90px;
    padding-top: 0;
    padding-left: 50px;
    color: rgb(238, 46, 20);
    margin-left: 50px;
}
.about__us-headline {
    text-transform: capitalize;
    color: #585858;
    size: 23px;
    margin-bottom: 8px;
    padding-left: 50px;
    margin-top: 0;
    padding-top: 0;
    margin-left: 50px;
}
.about__us-preview {
    color: #232b2b;
    font-size: 45px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 50px;
    margin-left: 50px;
    margin-bottom: 35px;
}
#ten-days {
    color: #00bfff;
}
.about__us-details {
    display: block;
    margin-top: 50px;
    padding-right: 70px;
}

/* SECTION 2 - SERVICES*/
.services__we__offer {
    display: inline-block;
    margin-bottom: 30px;
}

.services-subdiv {
    border: 1px #484848;
    padding: 10px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 400px;
    margin-top: 60px;
    padding-left: 35px;
    padding-right: 50px;
    background-color: white;
}

.about__image {
    width: 180px;
    height: 70px;
    padding: 10px;
    margin: 8px;
    background-color: white;
}

.service {
    color: black;
    size: 24px;
    margin: 8px;
    padding: 8px;
    background-color: white;
}
.service__description {
    color: #585858;
    size: 15px;
    background-color: white;  
    margin: 8px;
    padding: 8px;
}


@media (min-width: 640px) {
    .about-us-description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media (min-width: 640px) {
    .services__we__offer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        margin-top: 0;
        background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f1b1ae5ab132a0021525445_optimized);   /*url('../img/about_us/man-at-sea.jpg');*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}


/*
@media (min-width: 640px) {
    .services__we__offer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url(img/about-us/man-at-sea.jpg);
  background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
  
}
}*/

    /*img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  position: absolute;
  top: 110px;
  left: 110px;
    }
}
*/
/*.services__we__offer {
    background-image: url(img/about-us/man-at-sea.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/


/*
@media (min-width: 640px) {
.services__we__offer {
  display: grid;
  grid-template-columns: repeat (1fr 1fr 1fr);
  grid-template-rows: 200px 100px 150px;
  margin-top: 5rem;
  background-image: url(img/about-us/man-at-sea.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
}
*/

/*/* --about-us-p-color: #585858;
    --about-para-color: #484848;
    --about-border-color: #484848;
    --about-us-backcolor: white;
    --decor-line-color: rgb(238, 46, 20);
    --ten-days-color: #00bfff;
    --about-preview-color: #232b2b;
    --service-color: #000000;  */