div {
    background-color: aqua;
    border: 5px solid sienna;
    padding: 0,7em;
    width: 100px;
    height: 100px;
    font-size: 0.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
div:nth-last-of-type(2n) {
    background-color: orange;
}
div:nth-last-of-type(3n) {
    background-color: blueviolet;
}
div:nth-last-of-type(4n) {
    background-color: bisque;
}

div:nth-last-of-type(1) {
    transform: rotate(45deg);
}
div:nth-last-of-type(2n) {
    transform: matrix(20deg);
    transform: scale(1.5);
}